<h1>Stats</h1>

<div id="stats">
  The index contains <highlight><%= Fileentry.all().length %></highlight> files
  in <highlight><%= Folderentry.all().length %></highlight> folders.<br />
  <%  filesize_sum = 0
      for file in Fileentry.all() do
        filesize_sum += file.fileSize
      end %>
  <highlight><%= human_filesize filesize_sum %></highlight> are at your hands!
</div>