<%= link_to '<img src="/images/logo_small.png" style="float:left;">', '/' %>
<h1 class="headline">Stats</h1>

<div id="stats">
  The index contains <highlight><%= Fileentry.all().length %></highlight> files
  in <highlight><%= Folderentry.all().length %></highlight> folders.<br />
  <%  filesize_sum = 0
      for file in Fileentry.all() do
        filesize_sum += file.fileSize
      end %>
  <highlight><%= number_to_human_size filesize_sum %></highlight> of data are at your hands!
</div>