<div id="slim_search_form">
  <% form_for :query, :url => '/search/results', :html => {:method => :get} do |q| %>
  	<%= text_field_tag :term, @prev_term, :size => 50 %>
  	<%= submit_tag "Search..." %>
  <% end %>
</div>