body {
  background-color: #fff;
  color: #333;
  margin-left: 100px;
  margin-right: 100px;
}

highlight {
  color: #666666;
  font-style: bold;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

/* BEGIN for scaffold */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* END for scaffold */

#notice {
  background-color: #A3D39C;
  border: #005E20 solid 1px;
  padding: 10px 5px 10px 15px;
}
#notice img {
  margin-right: 10px;
  float: left;
}

#error {
  background-color: #F69679;
  border: #FF0000 solid 1px;
  padding: 10px 5px 10px 15px;
}
#error img {
  margin-right: 10px;
  float: left;
}

#header {
  border-bottom: #000000 dotted 1px;
  padding: 5px 5px 5px 15px;
  font-size:   30px;
  line-height: 40px;
}
#header a a:hover a:visited {
  color: #000000;
  text-decoration: none;
}

#content {
  min-height: 300px;
  margin-top: 20px;
}

#search_form {
  text-align: center;
}

#footer {
  border-top: #000000 dotted 1px;
  padding: 5px 5px 5px 15px;
  margin-top: 20px;
}

.results {
  list-style: none;
  display: block;
  padding: 20px;
}

.result {
  margin-bottom: 20px;
}