body {
  background-color: #fff;
  color: #333;
  margin: 0px 100px 0px 100px;
}

highlight {
  color: #666666;
  font-style: bold;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #000;}

img {display: inline-block;}

/* BEGIN for scaffold */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* END for scaffold */

#notice {
  background-color: #A3D39C;
  border: #005E20 solid 1px;
  padding: 10px 5px 10px 15px;
}
#notice img {
  margin-right: 10px;
  float: left;
}

#error {
  background-color: #F69679;
  border: #FF0000 solid 1px;
  padding: 10px 5px 10px 15px;
}
#error img {
  margin-right: 10px;
  float: left;
}

#navigation {
  margin: 0px;
  padding: 0px 10px 2px 10px;
  border: #636363 solid 1px;
  background-color: #C2C2C2;
}

#content {
  min-height: 500px;
  margin-top: 20px;
}

#search_form {
  text-align: center;
}
#slim_search_form {
  margin: 10px;
}

.logo {
  border: none;
  margin: 10px;
  text-align: center;
  vertical-align: center;
}

#footer {
  border-top: #000000 dotted 1px;
  padding: 5px 5px 5px 15px;
  margin-top: 20px;
}

.results {
  list-style: none;
  display: block;
  padding: 20px;
}

.result {
  margin-bottom: 20px;
}
#search_info {
  float: right;
}

#browser {
  border: #C2C2C2 solid 1px;
  padding: 0px;
}
#path {
  margin: 0px;
  padding: 3px;
  border-bottom: #C2C2C2 solid 1px;
}
#listing {
  list-style: none;
  display: block;
  padding: 5px;
  margin: 0px;
}
#folder_info {
  margin: 0px;
  padding: 3px;
  border-top: #C2C2C2 solid 1px;
}


.pagination a {
  padding: 5px 9px 5px 9px;
  font-weight: none;
  color: #000000;
  text-decoration: none;
  background-color: #E0E0E0;
  border: #C2C2C2 solid 1px;
}
.pagination .disabled {
  padding: 5px 9px 5px 9px;
  color: #636363;
  background-color: ;
  border: #C2C2C2 solid 1px;
}
.pagination .current {
  padding: 5px 9px 5px 9px;
  border: #C2C2C2 solid 2px;
}