<div id="footer">
  Powered by <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://ferret.davebalmain.com/trac/">Ferret</a>.
  <div style="float: right">&copy; Copyright 2010 by </div>
</div>