<div id="navigation">
  <%= link_to "Home", :controller => 'search', :action => 'search' %> | 
  <%= link_to "Usage", :controller => 'help', :action => 'usage' %> | 
  <%= link_to "Stats", :controller => 'help', :action => 'stats' %> | 
  <%= link_to "About", :controller => 'help', :action => 'about' %>
</div>
<div id="header">
  <a href="/">DC++ Search</a>
</div>